body {

}

header {
    margin-bottom: 20px;
}

header div {
    display: flex;
    flex-direction: column;
}

div#brand {
    display: flex;
    flex-direction: row;
}

section#admin-profile {
    text-align: right;
    padding-top: 20px;
    min-height: 50px;
}

header h1 {
    font-family: Lato;
    margin-top: 0;
}

div#authed,
div#login-register {
    display: flex;
    align-items: flex-end;
}

div#member-nav {
    display: flex;
    align-items: flex-end;
    margin-top: -10px;
}

div#member-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 10px;
    border: 1px solid black;
}

div#member-nav ul li {
    margin-top: 10px;
}

div#member-nav ul li a {
    padding: 5px;
}

nav#main ul {
    list-style: none;
    padding-top: 15px;
    float: right;
}

nav#main ul li {
    float: left;
    margin-right: 15px;
    font-size: 16px;
}

nav#main ul li:last-child {
    margin-right: 0;
}

header img {
    width: 100%;
}

div#login-register ul {
    float: right;
    list-style: none;
}

div#login-register ul li {
    float: left;
    margin-right: 15px;
    font-size: 12px;
}

div#login-register ul li:last-child {
    margin-right: 0;
}

div#authed,
div#login-register {
    margin-top: 20px;
}

div#authed p {
    float: right;
}

div#main-container {

}

div.post-main {
    border-bottom: 4px double lightgrey;
    padding: 10px;
    margin-bottom: 20px;
}

article.post-content {
    padding-top: 10px;
}

div#side-content h2 {
    text-align: center;
    text-decoration: underline;
}

ul#eventlist {
    text-align: center;
}

div.post {
    display: flex;
    flex-direction: column;
    border-bottom: 4px double lightgrey;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

div.post-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
}

div.post-header div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.post-header div:first-child div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

div.post-header div:first-child div a {
    margin-right: 15px;
}

div.post-header div:first-child div a:last-child {
    margin-right: 0;
}

footer {
    background-color: lightgray;
    margin-top: 20px;
}

div.document {
    margin-bottom: 30px;
}

div.document h3 span {
    font-size: 14px;
}