html,
body {
    margin:0;
    padding:0;
    height:100%;
}

div#outer-container {
    min-height: 100%;
    position:relative;
    padding-bottom: 100px;
}

div#footer {
    background-color: pink;
    height: 96px;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
}

div#footer div:nth-child(1),
div#footer div:nth-child(2),
div#footer div:nth-child(3) {
    padding: 10px 0 10px 0;
}

div#footer div:nth-child(4) {
    padding-bottom: 10px;
}

body {
    background-image: url("../images/concrete_seamless.png");
    background-repeat: repeat;
    color: #2b3b43;
    font-size: 16px;
}

header {
    margin-bottom: 20px;
}

header div {
    display: flex;
    flex-direction: column;
}

div#brand {
    display: flex;
    flex-direction: row;
}

div#brand div:nth-child(2) {
    display: block;
    width: 100%;
}

section#admin-profile {
    text-align: right;
    padding-top: 20px;
    min-height: 50px;
}

header h1 {
    font-family: Lato;
    margin-top: 0;
}

div#authed,
div#login-register {
    display: flex;
    align-items: flex-end;
}

div#member-nav ul {
    display: block;
    float: right;
    list-style: none;
    font-size: 14px;
}

div#member-nav ul li {
    float: left;
    margin-right: 10px;
}

div#member-nav ul li:last-child {
    margin-right: 0;
}

div#content {
    padding-top: 20px;
}

nav#main {
    display: block;
}

header img {
    width: 100%;
}

div#login-register ul {
    float: right;
    list-style: none;
}

div#login-register ul li {
    float: left;
    margin-right: 15px;
    font-size: 12px;
}

div#login-register ul li:last-child {
    margin-right: 0;
}

div#authed {
    padding-bottom: 0 !important;
    margin-bottom: -10px;
}

div#authed,
div#login-register {
    margin-top: 20px;
}

div#authed p {
    float: right;
}

div.post-main {
    border-bottom: 4px double lightgrey;
}

div#side-content {
    //padding-right: 0;
    margin-bottom: 20px;
}

div#side-content h3,
div#side-content div.eventtitle {
    color: #434343;
}

div#side-content div.inner-side {
    border: solid lightgrey 1px;
    border-radius: 0;
    float: left;
    padding: 0 10px 10px 10px;
    background-color: rgb(158, 158, 158);
    background-color: rgba(185, 185, 185, 0.2);
    margin: 0 auto;
    height: auto;
    width: 100%;
}

div#side-content h3 {
    text-align: center;
    text-decoration: underline;
}

ul#eventlist {
    text-align: center;
}

ul#eventlist li {
    margin: 10px 0px;
}

div.profile-post {
    border: 1px solid lightgrey;
    padding: 5px 10px;
    margin-bottom: 20px;
    background-color: rgb(255,255,255);
    background-color: rgba(255, 255, 255, 0.2);
}

div.post {
    display: flex;
    flex-direction: column;
    border-bottom: 4px double lightgrey;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

div.post-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
}

div.post-header div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.post-header div:first-child div {
    display: flex;
    align-items: center;
    padding-top: 12px;
}

div.post-header div:first-child div a {
    margin-right: 15px;
}

div.post-header div:first-child div a:last-child {
    margin-right: 0;
}

h3.post-title span {
    font-size: 16px;
}

div.referat,
div.document {
    margin-bottom: 30px;
}

div.referat div:last-child {
    display: flex;
    flex-direction: row;
}

div.referat div:last-child a:first-child {
    margin-right: 20px;
}

div.referat div:first-child {
    margin-right: 20px;
}

div.referat h4 span,
div.document h4 span {
    font-size: 14px;
}

div.user p {
    font-weight: normal;
}

div.user p span {
    font-size: 14px;
}

div.user p span.username {
    font-size: 18px;
}

div#footer div {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #2e3436;
    color: #9E9E9E;
    text-align: center;
}

div#footer div p#email {
    font-size: 18px;
}

div.eventdate,
div.location {
    font-style: italic;
}

div.comments-container {
    margin-top: 20px;
}

div.panel-heading {
    background-color: #A8C2D2 !important;
}

.btn,
.panel,
.panel-default,
.panel-heading {
    border-radius: 0;
}

nav#main div:first-child {
    display: block;
    float: right;
    padding-top: 5px;
}

nav#main div ul {
    list-style: none;
    margin-top: 15px;
    float: right;
}

nav#main ul li {
    float: left;
    margin-right: 15px;
    font-size: 16px;
}

nav#main ul li:last-child {
    margin-right: 0;
}

li.active_nav {
    text-decoration: underline;
}

.form-control {
    border-radius: 0 !important;
}

nav#responsive-nav-authed {
    display: none;
}

nav#responsive-nav-unauthed {
    border-top: 1px solid lightgrey;
    padding-top: 10px;
}

nav#responsive-nav-authed ul,
nav#responsive-nav-unauthed ul {
    list-style: none;
    float: right;
}

nav#responsive-nav-authed ul li,
nav#responsive-nav-unauthed ul li {
    float: left;
    margin-right: 10px;
}

nav#responsive-nav-authed ul li:last-child,
nav#responsive-nav-unauthed ul li:last-child {
    margin-right: 0;
}

nav#responsive-nav-authed ul li,
nav#responsive-nav-unauthed ul li,
div#authed {
    font-size: 12px;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid lightgrey;
}

th, td {
    padding: 3px;
}

div.post-header-admin {
    display: flex;
    flex-direction: row;
}

div.post-header-admin {
    display: flex;
    justify-content: space-between;
}

div.post-header-admin div:last-child {
    display: flex;
    flex-direction: row;
    align-self: center;
}
